h1{
	color: #FFFFFF;
	background: #b36088;
	font-size: 150%;
}
header, footer{
	background:#666666;
	text-align: center;
}
h2{
	color: blue;
	background: #3D72F9;
}
nav{
	font-variant: small-caps;
	font-size: 200%;
	font-family: "Times New Roman", Arial, serif;
}
details{
	font-style: italic;
}
summary{
	font-style: normal;
}